h1{
  color: darkblue;
  text-align: center;
}
.text {
  text-align: left;
  text-color: darkblue;
}

.listheader {
  text-align: center;
  color: darkblue;
}

h3 {
  text-align: center;
  color: darkblue;
}

.html {
  color: darkgreen;
}
