h1{
  color: darkorange;
  text-align: center;
}

.listheader {
  text-align: center;
  color: darkorange;
}

h3 {
  text-align: center;
  color: darkorange;
}

.html {
  color: darkgreen;
}

.text {
  text-align: left;
  text-color: darkorange;
}
.container {
  width: 600px;
  background-color: lightgray;
  border-color: yellow;
  border-width: 4px;
  position: fixed: 0;
}

.IMG {
  width: 800px;
}
body {
 background-color: #96C3CE;
}
