h1{
  color: darkorange;
  text-align: center;
}

.listheader {
  text-align: center;
  color: darkorange;
  padding: 2px;
}

h3 {
  text-align: center;
  color: darkorange;
}

.html {
  color: darkgreen;
}

.text {
  text-align: center;
  text-color: darkorange;
}
.container {
  width: 600px;
  background-color: lightgray;
  border-color: yellow;
  border-width: 4px;
  /* position: 0; */
  text-align: left;

  margin: 0 auto;
}

.IMG {
  width: 800px;
}
body {
 background-color: #96C3CE;
}
.link {
  text-align: center;
}
.bio {
  padding: 0 20px;
}
